fastapi
uvicorn[standard]
pydantic
numpy
numpy
torch
monai
pillow
scipy
temp
opencv-python-headless
matplotlib
scikit-image
tensorflow
csbdeep
stardist

#segment anything
git+https://github.com/facebookresearch/segment-anything.git

#mobile segment anything
git+https://github.com/ChaoningZhang/MobileSAM.git
timm